PlanetSpec (
    name: "Venus",
    orbit_radius: 108_000_000.,
	size: 12_104.,
	orbital_period: 224.7,
    color: (165, 124, 27),
	magnetic_field: false,
	moon: false,
	resources: [
			(Metals, Surface, [(0.05, HotSurfaceMining), (0.5, DeepCrustMining)]),
			(Silicate, Surface, [(0.015, HotSurfaceMining), (0.15, DeepCrustMining)]),
			],
)
